article.menu-article {
    background-image: url(../IMAGENS/choco-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(126, 65, 24, 0.6);
    background-blend-mode: multiply;
    display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        justify-items: center;

    div.div-menu {
        margin: 50px;
        text-align: center;
        color: var(--text);
        font-size: 20px;
        font-family: "Croissant One";
        /* -webkit-text-stroke: 1px black; */
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 1.5);

        img.img-menu {
            border-radius: 10px;
            width: 200px;
            box-shadow: 3px 2px 3px 5px rgba(0, 0, 0, 0.5);
        }

        label.quantity-label {
            font-size: 16px;
            margin-right: 10px;
        }

        input.quantity-input {
            width: 60px;
            padding: 5px;
            font-size: 16px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
    }
button.recipe-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
div.div-recipe {
    text-align: center;

    button.recipe-button {
        
        color: white;
    }
}
}